.cataplo__card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  max-width: 360px;
  max-height: 506px;
  /* text-align: start; */
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.cardImg {
  border-radius: 5%;
  max-width: 360px;
  max-height: 360px;
}
.cardName {
  text-align: left;
  width: 65%;
  margin: 18px 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.cardBlockPrice {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.price {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.cardPrice {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.cardSale {
  text-decoration: line-through;
  color: #989898;
  margin-right: 10px;
}
:root .hidden {
  display: none;
  /* color: red; */
}

.cardBlockPrice img {
  padding: 5px;
  border-radius: 10px;
}
.cardBlockPrice img:hover {
  transform: scale(1.03);
  background: rgba(5, 24, 24, 0.1);
}

.cardBlockPrice img:active {
  transform: scale(0.9);
  background: rgba(5, 24, 24, 0.2);
}
