header {
  max-width: 1150px;

  width: 100%;
  display: flex;
  justify-content: center;
  height: 44px;
  text-align: center;
  font-weight: 300;
  margin: 23px 0;
}
.header_logo {
  font-weight: 200;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.1em;
}
nav {
  width: 100%;
}
.header {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.header li {
  margin: auto;
  font-weight: 300;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  letter-spacing: 0.16em;
}

.active-head {
  font-weight: 500;
  border-bottom: 1px solid black;
}
