@import "./Styles/123.css";
* {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* letter-spacing: 0.16em; */
}
.App {
  width: 100%;
  min-height: 100vh;
  background: url(./img/Rectangle.png);
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
